<!DOCTYPE html>
<html>

<style>
    body {
        overflow-y: hidden;
    }
</style>

<head>
    <title>burgercat</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
</head>

<body>
    <div class="navbar">
        <h1>burgercat</h1>
        <a href="/">home</a>
        <a class="selected" href="/chat">chat</a>
        <a href="/post">post</a>
        {% if userdata %}
        <a href="/settings/logout" class="right r">log out</a>
        <a href="/settings" class="right">{{ userdata.username }}</a>
        {% else %}
        <a href="/signup" class="right r">sign up</a>
        <a href="/login" class="right">log in</a>
        {% endif %}
    </div>

    <div class="postDiv">
    {% if userdata %}
    {% if userdata.banned == "0" %}
    {% else %}
    <p class="warning">Your account has been banned. Reason: "{{ userdata.banned }}". <a href="/settings/logout">Log out</a></p>
    {% endif %}
    {% endif %}

    <div class="chatDiv">
        <div id="channelDiv" class="channelDiv">
            <p class="statusMessage" id="statusMessage">Connecting..</p>
        </div>
        <div id="messageDiv" class="messageDiv">
        </div>
        <div class="messageBar">
            <input id="messageBox" type="text" placeholder="Type something.." id="chatBox">
        </div>
    </div>
    </div>

    <script src="/static/js/chat.js"></script>
</body>

</html>