<!DOCTYPE html>
<html>

<head>
    <title>burgercat</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
</head>

<body>
    <div class="navbar">
        <h1>burgercat</h1>
        <a href="/">home</a>
		<a href="/chat">chat</a>
        <a href="/post">post</a>
        {% if userdata %}
        <a href="/settings/logout" class="right r">log out</a>
        <a href="/settings" class="right selected">{{ userdata.username }}</a>
        {% else %}
        <a href="/signup" class="right r">sign up</a>
        <a href="/login" class="right">log in</a>
        {% endif %}
    </div>

    <div class="postDiv">
        <div class="post">
            <h2>Your account</h2>
            <a href="/@{{ userdata.username }}">View my public profile</a><br>
            <h3>Information</h3>
            <p>Account Type: {% if userdata.administrator == 1 %}Administrator{% else %}Regular{% endif %}<br>
            Username: {{ userdata.username }}<br>
            User ID: {{ userdata.id }}<br>
            Created on: {{ createddate }}</p>
            <h3>Actions</h3>
            <a href="/settings/logout">Log out</a>
        </div>
    </div>
</body>
</html>